[submodule "MultiLingua"]
	path = MultiLingua
	url = git@github.com:kjwenger/MultiLingua.git
	branch = main
[submodule "Arduino/ConfigurableFirmata"]
	path = Arduino/ConfigurableFirmata
	url = git@github.com:firmata/ConfigurableFirmata.git
[submodule "Arduino/tools/firmata_test"]
	path = Arduino/tools/firmata_test
	url = https://github.com/firmata/firmata_test.git
