[submodule "MultiLingua"]
	path = MultiLingua
	url = git@github.com:kjwenger/MultiLingua.git
	branch = main
[submodule "Arduino"]
	path = Arduino
	url = https://github.com/kjwenger/Arduino-UNO-R4-WiFi-Firmata.git
	branch = main
